<!DOCTYPE html>
<html>

<head >
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>地图展示</title>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css'%}">
    <link rel="stylesheet" href="{% static '/vendor/font-awesome/css/fontawesome-all.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'css/importantStyle.css'%}">
    <link rel="stylesheet" href="{% static 'css/marker.css'%}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">


    <link rel="stylesheet" href="{% static 'css/compare_boxes.css'%}">



    <script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=dGa3ZcGGEdYLqdwuj4In9PNDtdC3BQ8W"></script>

    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/baiduFunction.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/popper.js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/carbon.js' %}"></script> 
     <script type="text/javascript" src="{% static 'js/demo.js' %}"></script> 
     <script type="text/javascript" src="{% static 'js/params.js' %}"></script>

</head>