<div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
               

                <li class="nav-item">
                    <a href="#" id="detail_url" target="_blank"  class="nav-link active">
                        <i class="icon icon-speedometer"></i> <nobr id="name"></nobr>
                    </a>
                </li>

                <li class="nav-item nav-dropdown">
                    <a href="#"  class="nav-link nav-dropdown-toggle">
                        <i class="icon icon-target"></i> 基础信息 <i class="fa fa-caret-left"></i>
                    </a>

                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <font>地址: </font> <p id="address"></p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <font>电话: </font> <p id="telephone"></p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <font>起价(RMB): </font> <p id="price"></p>
                            </a>
                        </li>

                       
                    </ul>
                </li>

                <li class="nav-item nav-dropdown">
                    <a href="#" class="nav-link nav-dropdown-toggle">
                        <i class="icon icon-energy"></i> 详细信息 <i class="fa fa-caret-left"></i>
                    </a>

                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <font>类型: </font> <p id="level"></p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                最高评分: 5.0<br>
                                <font>总体评分: </font> <p id="overall_rating"></p>
                                <font>卫生评分: </font><p id="hygiene_rating"></p>
                                <font>服务评分: </font> <p id="service_rating"></p>
                                <font>设施评分: </font><p id="facility_rating"></p>
                     
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <font>酒店设施: </font> <p id="hotel_facility"></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <font>服务: </font> <p id="hotel_service"></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <font>室内设施: </font> <p id="inner_facility"></p>
                            </a>
                        </li>
                      

                       
                    </ul>
                </li>

         
            </ul>
        </nav>
    </div>
    <script>

    </script>